<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/listings" method="post">
        <h3>Create a new listing</h3>
        <input type="text" name="listing[title]" id="" placeholder="property title"  type="text">
        <br><br>
        <textarea type="text" name="listing[description]" id="" placeholder="property description" type="text"></textarea>
        <br><br>
        <input type="text" name="listing[image]" id="" placeholder="property image/link" type="text">
        <br><br>
        <input type="text" name="listing[price]" id="" placeholder="property price" type="number" type="text">
        <br><br>
        <input type="text" name="listing[country]" id="" placeholder="property country" type="text">
        <br><br>
        <input type="text" name="listing[location]" id="" placeholder="property location" type="text">
        <br><br>
        <button>submit</button>
    </form>
</body>
</html>